#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        // Define the keymap for the QQ shield
        default_layer {
            bindings = <
                &kp Q KEYCODE_Q
                &kp W KEYCODE_W
                &kp E KEYCODE_E
                &kp R KEYCODE_R
                &kp T KEYCODE_T
                &kp Y KEYCODE_Y
                &kp U KEYCODE_U
                &kp I KEYCODE_I
                &kp O KEYCODE_O
            >;
        };
    };
};